/**
*    deximages.css
*
*    injected CSS for
*    DexImages Safari Extension
*    Version 1.0
*    © 2011 lucdesign
**/

.dexImages a { text-decoration:none; }


.dexImages .stack,
.deximages .bar,
.deximages .bezel {
  -webkit-user-select: none;
}

/*********************************************** STACK ***********************************************/

.dexImages .stack {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  bottom: 22px;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
  -webkit-transition: opacity .7s;
}

.dexImages .stack:not(.show) {
  opacity: 0;
  z-index: -1;
}


.dexImages .stack.show {
  opacity: 1;
}

/*--------------------------------------------- IMAGE ---------------------------------------------*/

.dexImages .stack a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.dexImages .stack:not(.show) a,
.dexImages .stack a:not(.show) {
  visibility: hidden;
}

.dexImages .stack.show a.show {
  display: block;
  cursor: -webkit-zoom-in;
}

/*********************************************** BAR ***********************************************/

.dexImages .bar {
  width: 100%;
  height: 21px;
  border-top: 1px solid rgb(50,50,50);
  position: fixed;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(top, rgb(0,0,0), rgb(50,50,50) ) ;
  cursor: pointer;
  -webkit-transition: opacity .7s;
  z-index: 0;
}

.deximages .bar:not(.show) {
  opacity: 0;
}

.dexImages .bar.show {
  opacity: 1;
}

/*---------------------------------------------- LOAD PROGRESS ------------------------------------------------*/

.dexImages .bar .load {
  position: absolute;
  left: 0;
  top: 6px;
  height: 10px;
  background:
  -webkit-linear-gradient(right, rgba(0,0,0,.2), transparent, rgba(0,0,0,.2)),
  -webkit-linear-gradient(top, rgba(200,50,50,1), rgba(255,50,50,1) 60%, rgba(100,0,0,1));
  background-size: 33px 100%;
  border-radius: 0 5px 5px 0;
  -webkit-transition: width 1s;
}

.dexImages .bar .load:not(.show),
.dexImages .bar:not(.show) .load {
  opacity: 0;
}

.dexImages .bar.show .load.show {
  opacity: 1;
}

/*--------------------------------------------- SLIDER ---------------------------------------------*/

.dexImages .bar .slider {
  position: absolute;
  left: 0;
  top: 2px;
  height: 15px;
  border-bottom: 1px solid black;
  background:
  -webkit-linear-gradient(left, transparent, rgba(0,0,0,.5)),
  -webkit-linear-gradient(top, rgb(64,64,64), rgb(100,100,100) 30%, black);
  background-size: 3px 100%;
  border-radius: 7px;
  box-shadow: 0px 2px 3px rgba(0,0,0,1),
  inset 0px 1px 1px rgba(255,255,255,.5);
  -webkit-transition: margin-left .3s;
}

.dexImages .bar.show:hover .slider,
.dexImages .bar.show .slider.dragged {
  background: 
  -webkit-linear-gradient(left, transparent, rgba(0,0,0,.5)),
  -webkit-linear-gradient(top, rgb(200,200,200), rgb(200,255,200) 30%, black );
  box-shadow:
  0px 2px 3px rgba(0,0,0,1),
  0px 0px 10px rgba(100,255,100,1);
  border-color: rgb(240,255,240);
}

/************************************************ BEZEL ************************************************/

.dexImages .bezel {
  width: 200px;
  height: 155px;
  padding: 35px 20px 20px 20px;
/*  margin-top:  -10px;*/
/*  margin-left: -90px;*/
  position: fixed;
  bottom: 30px;
  right: 30px;
  background:
  -webkit-linear-gradient(
    top,
    rgba(200,200,200,1),
    rgba(250,250,250,1),
    rgba(200,200,200,1),
    rgba(250,250,250,1),
    rgba(200,200,200,1),
    rgba(250,250,250,1),
    rgba(200,200,200,1),
    rgba(250,250,250,1),
    rgba(0,0,0,1) 10%,
    rgba(200,200,200,1) 10%,
    rgba(200,200,200,1) 11%,
    rgba(150,150,150,1)
    );
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
  text-align: center;
  color: white;
  -webkit-transition: opacity 1s;
  border-color: rgba(200,200,200,0.5) rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 1px;
}

.dexImages .bezel:not(.show) {
  opacity: 0;
}
.dexImages .bezel.show {
  opacity: 1;
}

.dexImages .bezel .buttons {
  display: inline-block;
  margin-bottom: 10px;
}

/* the keycaps! */
.dexImages .bezel .buttons > div > div {
  display: inline-block;
  position: relative;
  -webkit-border-radius: 7px;
  background: -webkit-linear-gradient(top, rgba(235,235,235,1), rgba(255,255,255,1) );
  width: 60px;
  height: 55px;
  margin: 3px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  box-shadow: 3px 3px 3px black, inset 1px 1px 5px white;
}

.dexImages .bezel .buttons > div > div:hover {
  background: -webkit-linear-gradient( top, rgba(190,190,190,1), rgba(255,255,255,1) );
  box-shadow: 3px 3px 4px black, inset 1px 1px 5px white;
}

.dexImages .bezel .buttons > div > div:active {
  background: -webkit-linear-gradient( top, rgba(200,200,200,1), rgba(255,255,255,1) );
  box-shadow: 1px 1px 1px black, inset 1px 1px 5px white;
}


.dexImages .bezel div div:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 50%;
  left: 50%;
  border-color: transparent;
  border-radius: 1px;
}

.dexImages .bezel .u:after { border-width: 0 4px 8px 4px; margin: -4px; border-bottom-color: black; }
.dexImages .bezel .l:after { border-width: 4px 8px 4px 0; margin: -4px; border-right-color: black; }
.dexImages .bezel .d:after { border-width: 8px 4px 0 4px; margin: -4px; border-top-color: black; }
.dexImages .bezel .r:after { border-width: 4px 0 4px 8px; margin: -4px; border-left-color: black; }

.dexImages .bezel .keyExp {
  display: inline-block;
  height: 30px;
  color: white;
  font-size: 10pt;
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

/***********************************************/

.deximages a.good {
  position: relative;
}

.dexImages a.fat {
  color: white;
}


.dexImages a.good:before {
  content: '';
  background-color: yellow;
  width: 100%;
  height: 100%;
  border: 3px solid yellow;
  border-radius: 4px;
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
}

.dexImages a.fat:before {
  background-color: black;
  border: 3px solid black;
}

.testfeld {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 350px;
  height: 100px;
  padding: 20px;
  background-color: green;
  color: white;
  z-index: 100;
  border-radius: 10px;
  border-style: dashed;
  border-width: 3px;
  display: none;
}

.testbalken {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-width: 20px 0 0 0;
  height: 0;
  border-color: red transparent transparent transparent;
  border-style: solid;
  background-color: white;
}